body, html, head {
    padding: 0;
    margin: 0;
}

.container {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    color: white;
    font-family: Open Sans;
    /* text-shadow: 1px 1px 2px #333; */
}

header h1 {
    margin-top: -80vh;
    letter-spacing: 10px;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
    font-weight: 800;
    /* line-height: 200px; */
}

header p {
    text-align: center;
    font-size: 20px;
    margin-top: 20vh;
}

.header-background {
    height:  100vh;
    /* background-image: url(img/illust_wide.png); */
    background-image: url(img/gate.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    max-width: 100%;
    display: block;
    position: relative;
    background-color: white;
}

article {
    padding-top: 1px;
}

figure.initial {
    margin: 20px auto -80px auto;
}

footer {
    height:  100px;
    position: sticky;
    width: 100% !important;
    max-width: 100%;
    background-color: whitesmoke;
    color: gray;
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

footer a, footer p{
    color: gray;
}

@media screen and (min-width: 40em) {
    .screenshots {
        display: flex;
        justify-content: space-between;
    }

    .screenshots img {
        flex: 0 0 48%;
        -webkit-box-flex: 0 0 48%;
        -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
    }
}

/***** Index *******/

.presentation {
    display: flex;
}

.presentation > figure, .presentation > h1 {
    flex:  0 0 48%;
}

.presentation > figure {
    margin-top: 80px;

}


.presentation > figure > img {
    -webkit-clip-path: circle(150px at center);
            clip-path: circle(150px at center);
}

@media screen and (max-width: 40em) {
    .presentation > h1 {
        flex: 0 0 70%;
    }
    .presentation > figure {
        flex:  0 0 30%;
    }

    .presentation > figure > img {
        margin-top: 45px;
        width: 150px;
        height:  150px;
        -webkit-clip-path: circle(75px at center);
                clip-path: circle(75px at center);
    }

}


/***** Parallax effect ******/

.parallax {
    max-width: 100%;
    margin: 0;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.parallax__layer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.parallax__group {
    max-width: 100%;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax__layer--base {
    max-width: 100%;
    transform: translateZ(0);
}

.parallax__layer--back {
    max-width: 100%;
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    max-width: 100%;
  transform: translateZ(-2px) scale(3);
}
