body, html, head {
    padding: 0;
    margin: 0;
}

.container {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    color: white;
    font-family: Open Sans;
    /* text-shadow: 1px 1px 2px #333; */
}

header h1 {
    margin-top: -80vh;
    letter-spacing: 10px;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    /* line-height: 200px; */
}

header p {
    text-align: center;
    font-size: 20px;
    margin-top: 20vh;
}

.header-background {
    height:  100vh;
    /* background-image: url(img/illust_wide.png); */
    background-image: url(img/roofs.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    max-width: 100%;
    display: block;
    position: relative;
    background-color: white;
}

article {
    max-width: 700px;
    margin: 0 auto;
    padding-top:1px;
}

/***** Typography *********/

/***** Parallax effect ******/

.parallax {
    max-width: 100%;
    margin: 0;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.parallax__layer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.parallax__group {
    max-width: 100%;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax__layer--base {
    max-width: 100%;
    transform: translateZ(0);
}

.parallax__layer--back {
    max-width: 100%;
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    max-width: 100%;
  transform: translateZ(-2px) scale(3);
}
